html,body {
    height:100%;
}

.dashboard-charts {
    height: 920px;
}

.number {
    text-align: right;
}

.filter-button {
    margin-top: 13px;
    margin-left: 10px;
}

.logo {
    width: 100px;
    margin-left: 45px;
    margin-top: 7px;
}

.navbar-brand {
    padding: 0;
}