.dashboard-box {
    height: 450px;
}

.dashboard-charts {
    height: 920px;
}

.number {
    text-align: right;
}

.filter-button {
    margin-top: 13px;
    margin-left: 10px;
}

.logo {
    width: 110px;
    margin-left: 45px;
    margin-top: 4px;
}

.navbar-brand {
    padding: 0;
}