@()

@main {
    <!-- Wrapper-->
    <div class="wrapper">

            <!-- Header-->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div id="mobile-menu">
                        <div class="left-nav-toggle">
                            <a href="#">
                                <i class="stroke-hamburgermenu"></i>
                            </a>
                        </div>
                    </div>
                    <a class="navbar-brand" href="index.html">
                        <img src="@routes.Assets.versioned("images/pdx-logo.png")" class="logo">
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left" id="filters"></ul>
                </div>
            </div>
        </nav>
            <!-- End header-->

            <!-- Main content-->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-filled dashboard-charts">
                            <div class="panel-heading">
                                <h2>Portfolio Mix</h2>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12" style="margin-bottom: 10px">
                                        <h3>By Country</h3>
                                        <div class="chart" id="country" style="height: 220px"></div>
                                    </div>
                                    <div class="col-md-12" style="margin-bottom: 10px">
                                        <h3>By Originator</h3>
                                        <div class="chart" id="originator" style="height: 220px"></div>
                                    </div>
                                    <div class="col-md-12" style="margin-bottom: 10px">
                                        <h3>By Policy</h3>
                                        <div class="chart" id="policy" style="height: 220px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-6">
                            <div class="panel panel-filled data-panel-top">
                                <div class="panel-heading">
                                    <h2>Portfolio Summary</h2>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th class="text-right asOfToday">As of [Today]</th>
                                                    <th class="text-right">∆ Last Month</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Total Originator Balance</td>
                                                    <td class="text-right">$<span id="portfolioSummary_totalOriginatorBalanceValue"></span></td>
                                                    <td class="text-right"><span id="portfolioSummary_totalOriginatorBalanceDelta"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Outstanding Balance</td>
                                                    <td class="text-right">$<span id="portfolioSummary_outstandingBalanceValue"></span></td>
                                                    <td class="text-right"><span id="portfolioSummary_outstandingBalanceDelta"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Purchases</td>
                                                    <td class="text-right">$<span id="portfolioSummary_purchasesValue"></span></td>
                                                    <td class="text-right"><span id="portfolioSummary_purchasesDelta"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Scheduled Principal Paid</td>
                                                    <td class="text-right">$<span id="portfolioSummary_scheduledPrincipalPaidValue"></span></td>
                                                    <td class="text-right"><span id="portfolioSummary_scheduledPrincipalPaidDelta"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Prepayments</td>
                                                    <td class="text-right">$<span id="portfolioSummary_prepaymentsValue"></span></td>
                                                    <td class="text-right"><span id="portfolioSummary_prepaymentsDelta"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Interest Paid</td>
                                                    <td class="text-right">$<span id="portfolioSummary_interestPaidValue"></span></td>
                                                    <td class="text-right"><span id="portfolioSummary_interestPaidDelta"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Charge-Offs</td>
                                                    <td class="text-right">$<span id="portfolioSummary_chargeOffsValue"></span></td>
                                                    <td class="text-right"><span id="portfolioSummary_chargeOffsDelta"></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="panel panel-filled data-panel-top">
                                <div class="panel-heading">
                                    <h2>Loan Characteristics</h2>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th class="text-right asOfToday">As of [Today]</th>
                                                    <th class="text-right">∆ Last Month</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>WDT AVG DTI</td>
                                                    <td class="text-right"><span id="loansCharacteristics_wtdAvgDtiValue"></span> %</td>
                                                    <td class="text-right"><span id="loansCharacteristics_wtdAvgDtiDelta"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>WDT AVG ORIG FICO</td>
                                                    <td class="text-right"><span id="loansCharacteristics_wtdAvgOrigFicoValue"></span></td>
                                                    <td class="text-right"><span id="loansCharacteristics_wtdAvgOrigFicoDelta"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>WDT AVG Loan Age</td>
                                                    <td class="text-right"><span id="loansCharacteristics_wtdAvgLoanAgeValue"></span></td>
                                                    <td class="text-right"><span id="loansCharacteristics_wtdAvgLoanAgeDelta"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>WDT AVG Maturity</td>
                                                    <td class="text-right"><span id="loansCharacteristics_wtdAvgMaturityValue"></span></td>
                                                    <td class="text-right"><span id="loansCharacteristics_wtdAvgMaturityDelta"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>CDR</td>
                                                    <td class="text-right"><span id="loansCharacteristics_cdrValue"></span> %</td>
                                                    <td class="text-right"><span id="loansCharacteristics_cdrDelta"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>CPR</td>
                                                    <td class="text-right"><span id="loansCharacteristics_cprValue"></span> %</td>
                                                    <td class="text-right"><span id="loansCharacteristics_cprDelta"></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="panel panel-filled data-panel-bottom">
                                <div class="panel-heading">
                                    <h2>Loan Deliquency</h2>
                                </div>
                                <div class="panel-body">
                                    <h4>Delinquency Breakout: 1-4 Mo Delinquent</h4>
                                    <svg id="delinquencyBreakdown"></svg>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th class="text-right asOfToday">As of [Today]</th>
                                                    <th class="text-right">∆ Last Month</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Active Payer</td>
                                                    <td class="text-right">$<span id="loanDelinquency_activePayerValue"></span></td>
                                                    <td class="text-right"><span id="loanDelinquency_activePayerDelta"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Current</td>
                                                    <td class="text-right">$<span id="loanDelinquency_currentValue"></span></td>
                                                    <td class="text-right"><span id="loanDelinquency_currentDelta"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Never Late</td>
                                                    <td class="text-right">$<span id="loanDelinquency_neverLateValue"></span></td>
                                                    <td class="text-right"><span id="loanDelinquency_neverLateDelta"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Delinquent</td>
                                                    <td class="text-right">$<span id="loanDelinquency_delinquentValue"></span></td>
                                                    <td class="text-right"><span id="loanDelinquency_delinquentDelta"></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="panel panel-filled data-panel-bottom">
                                <div class="panel-heading">
                                    <h2>Returns</h2>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th class="text-right asOfToday">As of [Today]</th>
                                                    <th class="text-right">∆ Last Month</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>WTD AVG Coupon</td>
                                                    <td class="text-right"><span id="returns_wtdAvgCouponValue"></span> %</td>
                                                    <td class="text-right"><span id="returns_wtdAvgCouponDelta"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Model Yield</td>
                                                    <td class="text-right"><span id="returns_modelYieldValue"></span> %</td>
                                                    <td class="text-right"><span id="returns_modelYieldDelta"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Model Price</td>
                                                    <td class="text-right"><span id="returns_modelPriceValue"></span> %</td>
                                                    <td class="text-right"><span id="returns_modelPriceDelta"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Recoveries</td>
                                                    <td class="text-right"><span id="returns_recoveriesValue"></span> %</td>
                                                    <td class="text-right"><span id="returns_recoveriesDelta"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Interest Paid</td>
                                                    <td class="text-right"><span id="returns_interestPaidValue"></span> %</td>
                                                    <td class="text-right"><span id="returns_interestPaidDelta"></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            <!-- End main content-->

    </div>
        <!-- End wrapper-->

        <!-- Vendor scripts -->
    <script src="@routes.Assets.versioned("vendor/pacejs/pace.min.js")"></script>
    <script src="@routes.Assets.versioned("vendor/jquery/jquery.min.js")"></script>
    <script src="@routes.Assets.versioned("vendor/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.versioned("vendor/c3js/d3.min.js")"></script>
    <script src="@routes.Assets.versioned("vendor/c3js/c3.min.js")"></script>
    <script src="@routes.Assets.versioned("vendor/underscore/underscorejs.min.js")"></script>

        <!-- App scripts -->
    <script src="@routes.Assets.versioned("javascripts/luna.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/utils.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/data.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/dashboard.js")"></script>
}
