@()

@main {
    <!-- Wrapper-->
    <div class="wrapper">

            <!-- Header-->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div id="mobile-menu">
                        <div class="left-nav-toggle">
                            <a href="#">
                                <i class="stroke-hamburgermenu"></i>
                            </a>
                        </div>
                    </div>
                    <a class="navbar-brand" href="index.html">
                        PDX
                        <span>v.1.0</span>
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown m-l-sm">
                            <a href="#">Global</a>
                        </li>
                        <li class=" profil-link"></li>
                    </ul>
                </div>
            </div>
        </nav>
            <!-- End header-->

            <!-- Main content-->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="col-md-6">
                            <div class="panel panel-filled dashboard-box">
                                <div class="panel-heading">
                                    <h2>Portfolio Summary</h2>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th class="asOfToday">As of [Today]</th>
                                                    <th>∆ Last Month</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Total Originator Balance</td>
                                                    <td class="number" id="portfolioSummary_totalOriginatorBalanceValue">$6666666</td>
                                                    <td class="number" id="portfolioSummary_totalOriginatorBalanceDelta"><span class="slight"><i class="fa fa-play fa-rotate-270 text-warning"> </i> +20%</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Outstanding Balance</td>
                                                    <td class="number" id="portfolioSummary_outstandingBalanceValue">$6666666</td>
                                                    <td class="number" id="portfolioSummary_outstandingBalanceDelta"><span class="slight"><i class="fa fa-play fa-rotate-90 c-white"> </i> +20%</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Purchases</td>
                                                    <td class="number" id="portfolioSummary_purchasesValue">$6666666</td>
                                                    <td class="number" id="portfolioSummary_purchasesDelta"><span class="slight"><i class="fa fa-play fa-rotate-270 text-warning"> </i> +20%</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Scheduled Principal Paid</td>
                                                    <td class="number" id="portfolioSummary_scheduledPrincipalPaidValue">$6666666</td>
                                                    <td class="number" id="portfolioSummary_scheduledPrincipalPaidDelta"><span class="slight"><i class="fa fa-play fa-rotate-90 c-white"> </i> +20%</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Prepayments</td>
                                                    <td class="number" id="portfolioSummary_prepaymentsValue">$6666666</td>
                                                    <td class="number" id="portfolioSummary_prepaymentsDelta"><span class="slight"><i class="fa fa-play fa-rotate-270 text-warning"> </i> +20%</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Interest Paid</td>
                                                    <td class="number" id="portfolioSummary_interestPaidValue">$6666666</td>
                                                    <td class="number" id="portfolioSummary_interestPaidDelta"><span class="slight"><i class="fa fa-play fa-rotate-90 c-white"> </i> +20%</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Charge-Offs</td>
                                                    <td class="number" id="portfolioSummary_chargeOffsValue">$6666666</td>
                                                    <td class="number" id="portfolioSummary_chargeOffsDelta"><span class="slight"><i class="fa fa-play fa-rotate-270 text-warning"> </i> +20%</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="panel panel-filled dashboard-box">
                                <div class="panel-heading">
                                    <h2>Loan Characteristics</h2>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th class="asOfToday">As of [Today]</th>
                                                    <th>∆ Last Month</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>WDT AVG DTI</td>
                                                    <td class="number" id="loansCharacteristics_wtdAvgDtiValue">20%</td>
                                                    <td class="number" id="loansCharacteristics_wtdAvgDtiDelta"><span class="slight"><i class="fa fa-play fa-rotate-270 text-warning"> </i> +20%</span></td>
                                                </tr>
                                                <tr>
                                                    <td>WDT AVG ORIG FICO</td>
                                                    <td class="number" id="loansCharacteristics_wtdAvgOrigFicoValue">666</td>
                                                    <td class="number" id="loansCharacteristics_wtdAvgOrigFicoDelta"><span class="slight"><i class="fa fa-play fa-rotate-270 text-warning"> </i> +20</span></td>
                                                </tr>
                                                <tr>
                                                    <td>WDT AVG Loan Age</td>
                                                    <td class="number" id="loansCharacteristics_wtdAvgLoanAgeValue">66</td>
                                                    <td class="number" id="loansCharacteristics_wtdAvgLoanAgeDelta"><span class="slight"><i class="fa fa-play fa-rotate-270 text-warning"> </i> +6</span></td>
                                                </tr>
                                                <tr>
                                                    <td>WDT AVG Maturity</td>
                                                    <td class="number" id="loansCharacteristics_wtdAvgMaturityValue">66</td>
                                                    <td class="number" id="loansCharacteristics_wtdAvgMaturityDelta"><span class="slight"><i class="fa fa-play fa-rotate-90 c-white"> </i> -7</span></td>
                                                </tr>
                                                <tr>
                                                    <td>CDR</td>
                                                    <td class="number" id="loansCharacteristics_cdrValue">66%</td>
                                                    <td class="number" id="loansCharacteristics_cdrDelta"><span class="slight"><i class="fa fa-play fa-rotate-270 text-warning"> </i> +20</span></td>
                                                </tr>
                                                <tr>
                                                    <td>CPR</td>
                                                    <td class="number" id="loansCharacteristics_cprValue">66%</td>
                                                    <td class="number" id="loansCharacteristics_cprDelta"><span class="slight"><i class="fa fa-play fa-rotate-270 text-warning"> </i> +20</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="panel panel-filled dashboard-box">
                                <div class="panel-heading">
                                    <h2>Loan Deliquency</h2>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Delinquency Breakout: 1-4 Mo Delinquent</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>Active Payer</td>
                                                    <td class="number" id="loanDelinquency_activePayerValue">$666666</td>
                                                    <td class="number" id="loanDelinquency_activePayerDelta">66%</td>
                                                </tr>
                                                <tr>
                                                    <td>Current</td>
                                                    <td class="number" id="loanDelinquency_currentValue">$666666</td>
                                                    <td class="number" id="loanDelinquency_currentDelta">66%</td>
                                                </tr>
                                                <tr>
                                                    <td>Never Late</td>
                                                    <td class="number" id="loanDelinquency_neverLateValue">$666666</td>
                                                    <td class="number" id="loanDelinquency_neverLateDelta">66%</td>
                                                </tr>
                                                <tr>
                                                    <td>Delinquent</td>
                                                    <td class="number" id="loanDelinquency_delinquentValue">$666666</td>
                                                    <td class="number" id="loanDelinquency_delinquentDelta">66%</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="panel panel-filled dashboard-box">
                                <div class="panel-heading">
                                    <h2>Returns</h2>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th class="asOfToday">As of [Today]</th>
                                                    <th>∆ Last Month</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>WTD AVG Coupon</td>
                                                    <td class="number" id="returns_wtdAvgCouponValue">$6666666</td>
                                                    <td class="number" id="returns_wtdAvgCouponDelta"><span class="slight"><i class="fa fa-play fa-rotate-270 text-warning"> </i> +20%</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Model Yield</td>
                                                    <td class="number" id="returns_modelYieldValue">$6666666</td>
                                                    <td class="number" id="returns_modelYieldDelta"><span class="slight"><i class="fa fa-play fa-rotate-90 c-white"> </i> +20%</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Model Price</td>
                                                    <td class="number" id="returns_modelPriceValue">$6666666</td>
                                                    <td class="number" id="returns_modelPriceDelta"><span class="slight"><i class="fa fa-play fa-rotate-270 text-warning"> </i> +20%</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Recoveries</td>
                                                    <td class="number" id="returns_recoveriesValue">$6666666</td>
                                                    <td class="number" id="returns_recoveriesDelta"><span class="slight"><i class="fa fa-play fa-rotate-90 c-white"> </i> +20%</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Interest Paid</td>
                                                    <td class="number" id="returns_interestPaidValue">$6666666</td>
                                                    <td class="number" id="returns_interestPaidDelta"><span class="slight"><i class="fa fa-play fa-rotate-270 text-warning"> </i> +20%</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-filled dashboard-charts">
                            <div class="panel-heading">
                                <h2>Portfolio Mix</h2>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12" style="margin-bottom: 10px">
                                            <h3>By Country</h3>
                                            <div id="country" style="height: 180px"></div>
                                    </div>
                                    <div class="col-md-12" style="margin-bottom: 10px">
                                            <h3>By Originator</h3>
                                            <div id="originator" style="height: 180px"></div>
                                    </div>
                                    <div class="col-md-12" style="margin-bottom: 10px">
                                            <h3>By Policy</h3>
                                            <div id="policy" style="height: 180px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            <!-- End main content-->

    </div>
        <!-- End wrapper-->

        <!-- Vendor scripts -->
    <script src="@routes.Assets.versioned("vendor/pacejs/pace.min.js")"></script>
    <script src="@routes.Assets.versioned("vendor/jquery/dist/jquery.min.js")"></script>
    <script src="@routes.Assets.versioned("vendor/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.versioned("vendor/c3js/d3.min.js")"></script>
    <script src="@routes.Assets.versioned("vendor/c3js/c3.min.js")"></script>
    <script src="@routes.Assets.versioned("vendor/underscore/underscorejs.min.js")"></script>

        <!-- App scripts -->
    <script src="@routes.Assets.versioned("javascripts/luna.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/utils.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/data.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/dashboard.js")"></script>
}
